/* MessagesComponent's private CSS styles */
h2 {
  color: #8e44ad;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
}

.clear {
  color: #ffff;
  background-color: #34495e;
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 15px;
  font-size: 1rem;
}
.clear:hover {
  color: white;
  background-color: #42545c;
}
